<p id="notice"><%= notice %></p>

<div class="box1">
  <%= image_tag("peru2.jpg") %>
</div>

<div class="bgimage"><h1 class="title">Flauta</h1></div>
<div class="inhoud">
  <!-- <span class="info"> -->
    <p>Welkom bij Flauta, hier kunt u het beste producten
       en recepten van Peru vinden.</p>
   <!-- </span> -->
   <span class="image30"><%= image_tag("flauta1.jpg") %></span>
   <span class="image30"><%= image_tag("people2.jpg") %></span>
   <hr class="tussenlijn"></hr>
   <span class="image30">
     <p>Deze biologische producten komen uit de bergen van Peru.
     Na uw bestelling ontvangt u de producten binnen 24 uur.</p>
    <p> Quinoa is geen graan, maar zaad. Het wordt al eeuwenlang geteeld
    op de koude, droge, winderige hoogvlakten van Peru.
    Quinoa bevat vrij veel eiwit: ruim 16 procent, bijna dubbel
    zoveel als tarwe en zilvervliesrijst.</p>
    <p>Wij bieden ook veel recepten met quinoa zodat je kan ook thuis koken.
    </p>
   </span>
</div>
 <div>
    <hr class="tussenlijn"></hr>
   <%= link_to "Blog", articles_path, class: "koop" %>
   <hr class="tussenlijn"></hr>
   <p>
   De beste verkochte producten van deze maand zijn:
  </p>
     <span class="beste3">
       <span class="image30">
         <p><b>Quinua white</b></p>
         <%= image_tag("quinua white.jpg") %>
          <p class="koopbox">
            <%= link_to "Ga naar de webshop", new_order_path, class: "koop" %>
          </p>
       </span>
     </span>
     <span class="beste3">
       <span class="image30">
          <p><b>Causa met quinua</b></p>
         <%= image_tag("eten4.jpg") %>
         <p class="koopbox">
           <%= link_to "Ga naar de webshop >>", new_order_path, class: "koop" %>
         </p>
       </span>
     </span>
     <span class="beste3">
       <span class="image30">
         <p><b>Dulce met quinua</b></p>
         <%= image_tag("eten8.jpg") %>
         <p class="koopbox">
           <%= link_to "Ga naar de webshop", new_order_path, class: "koop" %>
         </p>
       </span>
     </span>
 </div>
<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <!-- <tbody>
    <% @flauta.each do |flautum| %>
      <tr>
        <td><%= flautum.name %></td>
        <td><%= flautum.price %></td>
        <td><%= flautum.description %></td>
        <td><%= image_tag flautum.image %></td>
        <td><%= link_to 'Show', flautum %></td>
        <td><%= link_to 'Edit', edit_flautum_path(flautum) %></td>
        <td><%= link_to 'Destroy', flautum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
</div>
<br>
